{% extends "base.html" %} {% block title %}Game{% endblock %} 
{% block content %}

<form method="POST">
  <style>
    .button {
      background-color: #671cc9;
      border: none;
      color: white;
      padding: 20px 34px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 4px 2px;
      cursor: pointer;
      width: 30%;
    }
  </style>
    <h3 align="center">Game</h3>
    <center>
        <img src="{{path1}}" alt="Option 1" width="300" height="300">
        <img src="{{path2}}" alt="Option 2" width="300" height="300">
        <br>
        <script>
          function SelectionOfButton(buttonSelection){
            deletion();
            if(buttonSelection == correctAnswer){ 
              Correct();
            }else{
              Incorrect();
            }
          }
          function deletion() {
            document.getElementById("Option1").disabled = true;
            document.getElementById("Option2").disabled = true;
          }
          function Correct()
          {
            document.getElementById('Answer').innerHTML = 'Answer: Correct!!';
          }
          function Incorrect()
          {
            document.getElementById('Answer').innerHTML = 'Answer: Incorrect!!';
          }
        </script>
        <button name = "Option1" value="file1" onclick="SelectionOfButton()">This is the original</button>
        <button name = "Option2" value="file2" onclick="SelectionOfButton()">This is the original</button>
        <br>
        <br>
        <p id="Answer">Answer:</p>
    </center>
  </form>
  {% endblock %}
        

