{% extends "base.html" %} {% block title %}Game{% endblock %} 
{% block content %}

<form method="POST">
    <h3 align="center">Game</h3>
    <center>
        <img src="{{path1}}" alt="Option 1" width="300" height="300">
        <img src="{{path2}}" alt="Option 2" width="300" height="300">
        <br>
        <script>
          function SelectionOfButton(buttonSelection){
            deletion();
            if(buttonSelection == correct_answer){ 
              Correct();
            }else{
              Incorrect();
            }
          }
          function deletion() {
            document.getElementById("Option1").disabled = true;
            document.getElementById("Option2").disabled = true;
          }
          function Correct()
          {
            document.getElementById('Answer').innerHTML = 'Answer: Correct!!';
          }
          function Incorrect()
          {
            document.getElementById('Answer').innerHTML = 'Answer: Incorrect!!';
          }
        </script>
        <button id="Option1" name = "Option1" value="file1" onclick="Correct()">This is the original</button>
        <button id="Option2" name = "Option2" value="file2" onclick="Incorrect()">This is the original</button>
        <br>
        <br>
        <p id="Answer">Answer:</p>
    </center>
  </form>
  {% endblock %}
        

