{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content %} 
  <form method="POST">
    <h3 align="center">Home</h3>
    <style>
      body {
        min-height: 450px;
        height: 100vh;
        margin: 0;
        background: -webkit-radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);
        background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);
        color: #fff;
        font-family: 'Open Sans', sans-serif;
      }
      .button {
        border: none;
        color: white;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        width: 30%;
      }
      #Quickstart {
        background-color: #e0574f;
      }
      #SignIn {
        background-color: #d7514d;
      }
      #AboutUs {
        background-color: #cd4b4b;
      }
    </style>
    <center>
    <a class="button" id="Quickstart" href="/game">Quickstart</a>
    <a class="button" id="SignIn" href="/login">Sign In</a>
    <a class="button" id="AboutUs" href="/about">About Us</a>
  </center>
  </form>
  {% endblock %}
