{% extends "base.html" %} {% block title %}Settings{% endblock %} 
{% block content %} 
  <form method="POST">
    <body>
    <h3 align="center">Settings</h3>
    <style>
      .button {
        background-color: #671cc9;
        border: none;
        color: white;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        width: 30%;
      }
    </style>
    <center>
      <div>
        <input type="color" id="background_color" name="background_color" value="#671cc9" onchange="changeBg(this)">
        <label for="background_color">Background Color</label>
        <br>
        <script>
          function changeBg(element){
            document.body.style.backgroundColor=element.value;
            sessionStorage.setItem("bg", element.value);
          }
        </script>
      </div>
    <!--  <a class="button" id="ChangeUsername" href="/signup">Change Username</a> -->
    <input type="uname" id="uname" name="uname" placeholder="Enter new username"><br><br>
    <button id="username" name = "submit_button" value="change_username">Change Username</button><br><br>
    <!-- <a class="button" id="ChangePassword" href="/signup">Change Password</a> -->
    <input type="password" id="pwd" name="org_pwd" placeholder="Enter old password"><br><br>
    <input type="password" id="pwd1" name="new_pwd" placeholder="Enter new password"><br><br>
    
    <button id="password" name = "submit_button" value="change_password">Change Password</button><br><br>
    <!-- <a class="button" name = "del_account" value = "del_account" id="DeleteAccount" href="/logout">Delete Account</a> -->
    <button id="delete" name = "submit_button" value="del_account">Delete Account</button>
    </center>
</body>
  </form>
  {% endblock %}