{% extends "base.html" %} {% block title %}Settings{% endblock %} 
{% block content %} 
  <form method="POST">
    <body>
    <h3 align="center">Settings</h3>
    <center>
      <div>
        <input type="color" id="background_color" name="background_color" value="#671cc9" onchange="changeBg(this)">
        <label for="background_color">Background Color</label>
        <input type="color" id="button_color" name="button_color" value="#671cc9" onchange="changeBtn(this)">
        <label for="button_color">Button Color</label>
        </div>
        <input type="text" id="uname" name="uname" placeholder="Enter new username"><br><br>
        <button tag = "btn" id="username" name = "submit_button" value="change_username">Change Username</button><br><br>
        <input type="text" id="pwd" name="org_pwd" placeholder="Enter old password"><br><br>
        <input type="text" id="pwd1" name="new_pwd" placeholder="Enter new password"><br><br>
        
        <button tag = "btn" id="password" name = "submit_button" value="change_password">Change Password</button><br><br>
        <button tag = "btn" id="delete" name = "submit_button" value="del_account">Delete Account</button>
        <br>
        <script>
          function changeBg(element){
            document.body.style.backgroundColor=element.value;
            sessionStorage.setItem("bg", element.value);
          }
          function changeBtn(element){
            let buttons = document.getElementsByTagName("button");
            for (let i = 0; i < buttons.length; i++) {
              buttons[i].style.backgroundColor = element.value;
            }
            sessionStorage.setItem("btn", element.value);
          }
        </script>
    </center>
</body>
  </form>
  {% endblock %}